<div style="position: relative; width: 100%; height: 100%;">

  <app-new-note-dialog (dialogExit)=" showDialogNewNote = $event " (noteCreated)="start()" *ngIf="showDialogNewNote"></app-new-note-dialog>
  <app-note-float-view *ngIf="oppenedNotes.length > 0" [notes]="oppenedNotes" (notesChanged)="updateListOppened($event)" (deletedNote)="deleteNote($event)"></app-note-float-view>

  <div class="grid-background">

    <div style="display: block; width: 100%; height: 100vh;">
      <div style="width: 100%; display: flex; justify-content: center; align-items: center; margin-bottom: 20px; margin-top: 40px;">
        <button class="addButton" mat-button (click)="addNote()">
          <strong>+</strong>
        </button>
      </div>

      <div style="width: 100%; display: flex; justify-content: center; align-items: center;">

        <div cdkDropListGroup style="position: relative;" *ngIf="lista1.length > 0 || lista2.length > 0">
          <div class="example-container">
            <h2 class="titleAcordion">To do</h2>

            <div
              cdkDropList
              [cdkDropListData]="lista1"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <mat-accordion style="min-width: 340px;" [multi]="true">
                <mat-expansion-panel
                                     hideToggle
                                     cdkDrag
                                     *ngFor="let item of lista1;let i = index"
                                     [expanded]="isItemOpened(item)"
                                     [style.background-color]="item.color"
                                     [style.opacity]="0.8"
                                     class="item-list"
                                     (click)="openNote(item)">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="color: var(--primary-background-color); font-weight: 700;">
                      {{item.title}}
                    </mat-panel-title>
                    <mat-panel-description style="color: var(--primary-background-color); font-weight: 400;">
                      {{item.content.substring(0,9)}}...
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <span style="font-weight: 400; color: var(--primary-background-color); font-style: italic;">Abierto</span>
                </mat-expansion-panel>
              </mat-accordion>

            </div>
          </div>

          <div class="example-container" [style.height]="lista2.length === 0? '90px' : 'auto' ">
            <h2 class="titleAcordion">Done</h2>

            <div
              cdkDropList
              [cdkDropListData]="lista2"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <mat-accordion [multi]="true">
                <mat-expansion-panel
                                     hideToggle
                                     cdkDrag
                                     *ngFor="let item of lista2;let i = index"
                                     [expanded]="isItemOpened(item)"
                                     [style.background-color]="item.color"
                                     [style.opacity]="0.8"
                                     class="item-list"
                                     (click)="openNote(item)">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="color: var(--primary-background-color); font-weight: 700;">
                      {{item.title}}
                    </mat-panel-title>
                    <mat-panel-description style="color: var(--primary-background-color); font-weight: 400;">
                      {{item.content.substring(0,9)}}...
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <span style="font-weight: 400; color: var(--primary-background-color); font-style: italic;">Abierto</span>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
