<div style="position: relative; width: 100%; height: 100%;">

  <app-new-note-dialog (dialogExit)=" showDialogNewNote = $event " *ngIf="showDialogNewNote"></app-new-note-dialog>

  <div class="grid-background">

    <!--
    <ng-container *ngFor="let y of verticalPoints" style="z-index: 0;">
      <ng-container *ngFor="let x of horizontalPoints">
        <div class="dot" [style.top]="y + 'px' " [style.left]="x + 'px'"></div>
      </ng-container>
    </ng-container>
    -->

    <div style="width: 100%; height: 100%; align-items: center; justify-content: center; display: flex;">

      <div>
        <button class="addButton" mat-button (click)="addNote()">
          <strong>+</strong>
        </button>
      </div>

    </div>

  </div>

</div>
